body {
    width: 100%;
}

#page_1 {
    background: white;
    color: black;
    height: 100%;
}

#page_2 {
    background: black;
    height: 100%;
    color: white;
}

#page_3 {
    background: white;
    height: 100%;
    color: black;
}

#page_4 {
    background: black;
    height: 100%;
    color: white;
}

#page_5 {
    background: white;
    height: 100%;
    color: black;
}